name: Deploy to Pi

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Sync Dependencies
        run: /home/printer/.local/bin/uv sync

      - name: Restart Service
        run: sudo systemctl restart checkoff-printer
